body {
    background-color: #000;
}

#areaTotal {
    width: 80%;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #ffffff;
    background: #cb53e9;
    border-radius: 10px;
}

/* Estilização dos Elementos Internos */
#areaTotal label,
#areaTotal input,
#areaTotal select,
#areaTotal button {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

/* Estilização do Botão */
#areaBotao button {
    background-color: #a600d9;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#areaBotao button:hover {
    background-color: #8000b3;
}

/* Estilização do Resultado */
p {
    text-align: center;
    size: 18px;
    font-weight: bold;
    color: #000;
}
